

.ortelius, .keere {
  img[src*="tiles.mapbox.com"] {
    display: none;
  }

}

#legend {
  position: fixed;
  top: 0;
  left: 0;
  margin: 350px 0 0 60px;
  height: auto;
  width: 140px;
  display: none;
}
